
<!DOCTYPE html>
<html>
<link href='https://fonts.googleapis.com/css?family=Titillium Web' rel='stylesheet'>
<head>
    <meta charset="utf-8">
    {% if name is defined %}    
    <title>{{committee}} - {{name}} Mission Document</title>
    {% else %}
    <title>{{committee}} Mission Document</title>
    {%- endif%}
<style>

@font-face {
  font-family: TitiliumRegular;
  font-weight: 400;
}


@page {
    size: A4; /* Change from the default size of A4 */
    margin: 10mm; /* Set margin on each page */
}

:root {
    --color-main: #000094;
    --color-light: #4757F1;
    --color-purple: #B900FF;
    --color-gray: lightgray;
}

.header {
    color: var(--color-main);
}

.key {
    background-color: var(--color-gray);
}

tr > th {
    background-color: var(--color-main);
    color: white;
    font-weight: bold;
    text-align: left;
}

td.subheader  {
    background-color: var(--color-gray);
    font-weight: bold;
/*  color: red;*/
}

table {
    border: 1px dashed black;
}

div.logo {
    background-image: url("data:image/svg+xml,%3Csvg width='105.66' height='59.26' viewBox='0 0 105.66 59.26' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' overflow='visible'%3E%3Cdefs%3E%3C/defs%3E%3Cg%3E%3Cpath d='M24.11 43.49C23.72 43.49 23.41 43.8 23.41 44.19L23.41 45.38C22.39 44.19 20.92 43.49 19.39 43.49 16.4 43.49 13.97 46.05 13.97 49.21 13.97 52.36 16.4 54.93 19.39 54.93 20.91 54.93 22.39 54.22 23.41 53.02L23.41 54.23C23.41 54.61 23.73 54.93 24.11 54.93 24.49 54.93 24.81 54.61 24.81 54.23L24.81 44.18C24.81 43.79 24.5 43.49 24.11 43.49ZM23.41 49.2C23.41 51.58 21.6 53.52 19.39 53.52 17.17 53.52 15.37 51.58 15.37 49.2 15.37 46.81 17.18 44.86 19.39 44.86 21.6 44.86 23.41 46.81 23.41 49.2Z' fill='%23000094'/%3E%3Cg%3E%3Cpath d='M29.38 39.85C29 39.85 28.68 40.17 28.68 40.55L28.68 41.07C28.68 41.47 29 41.82 29.38 41.82 29.78 41.82 30.1 41.49 30.1 41.07L30.1 40.55C30.1 40.17 29.77 39.85 29.38 39.85Z' fill='%23000094'/%3E%3Cpath d='M29.38 43.49C28.99 43.49 28.68 43.8 28.68 44.19L28.68 54.23C28.68 54.61 29 54.93 29.38 54.93 29.78 54.93 30.1 54.62 30.1 54.23L30.1 44.18C30.1 43.79 29.79 43.49 29.38 43.49Z' fill='%23000094'/%3E%3C/g%3E%3Cpath d='M43.75 43.49C43.36 43.49 43.05 43.8 43.05 44.19L43.05 45.38C42.03 44.19 40.56 43.49 39.03 43.49 36.04 43.49 33.61 46.05 33.61 49.21 33.61 52.36 36.04 54.93 39.03 54.93 40.55 54.93 42.03 54.22 43.05 53.02L43.05 54.23C43.05 54.61 43.37 54.93 43.75 54.93 44.13 54.93 44.45 54.61 44.45 54.23L44.45 44.18C44.45 43.79 44.14 43.49 43.75 43.49ZM43.05 49.2C43.05 51.58 41.24 53.52 39.03 53.52 36.81 53.52 35.01 51.58 35.01 49.2 35.01 46.81 36.82 44.86 39.03 44.86 41.24 44.86 43.05 46.81 43.05 49.2Z' fill='%23000094'/%3E%3Cpath d='M57.63 49.05 62.21 44.45C62.47 44.19 62.47 43.77 62.23 43.5 61.99 43.24 61.55 43.23 61.3 43.49L56.7 48.11 52.1 43.48C51.85 43.23 51.41 43.23 51.17 43.5 50.92 43.76 50.93 44.19 51.19 44.45L55.77 49.05 51.19 53.65C50.93 53.91 50.93 54.33 51.17 54.6 51.29 54.73 51.46 54.8 51.63 54.81 51.8 54.81 51.97 54.74 52.1 54.62L56.7 50 61.3 54.62C61.43 54.75 61.59 54.81 61.77 54.81 61.94 54.81 62.11 54.73 62.23 54.6 62.48 54.34 62.47 53.91 62.21 53.65L57.63 49.05Z' fill='%23000094'/%3E%3Cpath d='M10.1 43.49C9.7 43.49 9.38 43.8 9.38 44.19L9.38 45.37C8.38 44.18 6.91 43.49 5.38 43.49 2.41 43.49 0 46.03 0 49.16 0 52.3 2.41 54.86 5.38 54.86 6.93 54.86 8.39 54.17 9.38 52.98L9.38 53.88C9.38 56.11 7.62 57.86 5.38 57.86 4.81 57.86 4.3 57.75 3.76 57.51 3.22 57.27 2.8 56.98 2.44 56.59 2.32 56.44 2.16 56.35 1.97 56.34 1.79 56.34 1.59 56.4 1.45 56.53 1.16 56.77 1.18 57.21 1.38 57.52 1.87 58.01 2.4 58.41 2.93 58.67L3 58.72C3.04 58.74 3.08 58.75 3.12 58.77L3.26 58.83C3.31 58.85 3.35 58.88 3.4 58.9 4.02 59.14 4.67 59.27 5.34 59.27 5.71 59.27 6.08 59.23 6.46 59.16L6.51 59.15C6.87 59.07 7.19 58.97 7.5 58.84 7.78 58.72 8.06 58.57 8.33 58.39 8.41 58.34 8.49 58.28 8.56 58.22L8.66 58.14C8.79 58.04 8.91 57.94 9.03 57.83 9.16 57.71 9.28 57.58 9.41 57.44 9.45 57.4 9.51 57.32 9.51 57.32 10.34 56.33 10.78 55.14 10.78 53.89L10.78 44.19C10.78 43.81 10.46 43.49 10.1 43.49ZM9.38 49.16C9.38 51.54 7.58 53.48 5.38 53.48 3.19 53.48 1.4 51.54 1.4 49.16 1.4 46.8 3.18 44.89 5.38 44.89 7.58 44.88 9.38 46.8 9.38 49.16Z' fill='%23000094'/%3E%3Cpath d='M50.92 48.55 47.43 48.55C47.09 48.55 46.8 48.84 46.8 49.18 46.8 49.54 47.08 49.83 47.43 49.83L50.92 49.83C51.28 49.83 51.55 49.55 51.55 49.18 51.55 48.83 51.27 48.55 50.92 48.55Z' fill='%23000094'/%3E%3C/g%3E%3Cg%3E%3Cline x1='66.75' y1='0.78' x2='68.8' y2='2.83' stroke='%23000094' stroke-width='1.5574' stroke-linecap='round' fill='none'/%3E%3Cline x1='73.8' y1='7.82' x2='76.03' y2='10.05' stroke='%23000094' stroke-width='1.5574' stroke-linecap='round' fill='none'/%3E%3Cline x1='73.8' y1='7.82' x2='75.85' y2='9.88' stroke='%23000094' stroke-width='1.5574' stroke-linecap='round' fill='none'/%3E%3Cline x1='104.88' y1='0.78' x2='102.83' y2='2.83' stroke='%23000094' stroke-width='1.5574' stroke-linecap='round' fill='none'/%3E%3Cline x1='97.84' y1='7.82' x2='95.61' y2='10.05' stroke='%23000094' stroke-width='1.5574' stroke-linecap='round' fill='none'/%3E%3Cline x1='97.84' y1='7.82' x2='95.78' y2='9.88' stroke='%23000094' stroke-width='1.5574' stroke-linecap='round' fill='none'/%3E%3Cline x1='66.75' y1='38.91' x2='68.8' y2='36.85' stroke='%23000094' stroke-width='1.5574' stroke-linecap='round' fill='none'/%3E%3Cline x1='73.8' y1='31.86' x2='76.03' y2='29.63' stroke='%23000094' stroke-width='1.5574' stroke-linecap='round' fill='none'/%3E%3Cline x1='73.8' y1='31.86' x2='75.85' y2='29.81' stroke='%23000094' stroke-width='1.5574' stroke-linecap='round' fill='none'/%3E%3Cline x1='104.88' y1='38.91' x2='102.83' y2='36.85' stroke='%23000094' stroke-width='1.5574' stroke-linecap='round' fill='none'/%3E%3Cline x1='97.84' y1='31.86' x2='95.61' y2='29.63' stroke='%23000094' stroke-width='1.5574' stroke-linecap='round' fill='none'/%3E%3Cline x1='74.38' y1='0.78' x2='75.87' y2='3.27' stroke='%23000094' stroke-width='1.5574' stroke-linecap='round' fill='none'/%3E%3Cline x1='82' y1='0.78' x2='82.57' y2='3.62' stroke='%23000094' stroke-width='1.5574' stroke-linecap='round' fill='none'/%3E%3Cline x1='81.81' y1='7.82' x2='82.73' y2='10.58' stroke='%23000094' stroke-width='1.5574' stroke-linecap='round' fill='none'/%3E%3Cline x1='97.26' y1='0.78' x2='95.76' y2='3.27' stroke='%23000094' stroke-width='1.5574' stroke-linecap='round' fill='none'/%3E%3Cline x1='89.63' y1='0.78' x2='89.06' y2='3.62' stroke='%23000094' stroke-width='1.5574' stroke-linecap='round' fill='none'/%3E%3Cline x1='89.82' y1='7.82' x2='88.91' y2='10.58' stroke='%23000094' stroke-width='1.5574' stroke-linecap='round' fill='none'/%3E%3Cline x1='74.38' y1='38.91' x2='75.87' y2='36.42' stroke='%23000094' stroke-width='1.5574' stroke-linecap='round' fill='none'/%3E%3Cline x1='82' y1='38.91' x2='82.57' y2='36.06' stroke='%23000094' stroke-width='1.5574' stroke-linecap='round' fill='none'/%3E%3Cline x1='81.81' y1='31.86' x2='82.73' y2='29.11' stroke='%23000094' stroke-width='1.5574' stroke-linecap='round' fill='none'/%3E%3Cline x1='97.26' y1='38.91' x2='95.76' y2='36.42' stroke='%23000094' stroke-width='1.5574' stroke-linecap='round' fill='none'/%3E%3Cline x1='89.63' y1='38.91' x2='89.06' y2='36.06' stroke='%23000094' stroke-width='1.5574' stroke-linecap='round' fill='none'/%3E%3Cline x1='89.82' y1='31.86' x2='88.91' y2='29.11' stroke='%23000094' stroke-width='1.5574' stroke-linecap='round' fill='none'/%3E%3Cline x1='97.84' y1='31.86' x2='95.78' y2='29.81' stroke='%23000094' stroke-width='1.5574' stroke-linecap='round' fill='none'/%3E%3Cline x1='104.88' y1='8.4' x2='102.39' y2='9.9' stroke='%23000094' stroke-width='1.5574' stroke-linecap='round' fill='none'/%3E%3Cline x1='104.88' y1='16.03' x2='102.04' y2='16.6' stroke='%23000094' stroke-width='1.5574' stroke-linecap='round' fill='none'/%3E%3Cline x1='97.84' y1='15.84' x2='95.08' y2='16.75' stroke='%23000094' stroke-width='1.5574' stroke-linecap='round' fill='none'/%3E%3Cline x1='104.88' y1='31.28' x2='102.39' y2='29.79' stroke='%23000094' stroke-width='1.5574' stroke-linecap='round' fill='none'/%3E%3Cline x1='104.88' y1='23.66' x2='102.04' y2='23.09' stroke='%23000094' stroke-width='1.5574' stroke-linecap='round' fill='none'/%3E%3Cline x1='97.84' y1='23.85' x2='95.08' y2='22.93' stroke='%23000094' stroke-width='1.5574' stroke-linecap='round' fill='none'/%3E%3Cline x1='66.75' y1='8.4' x2='69.24' y2='9.9' stroke='%23000094' stroke-width='1.5574' stroke-linecap='round' fill='none'/%3E%3Cline x1='66.75' y1='16.03' x2='69.6' y2='16.6' stroke='%23000094' stroke-width='1.5574' stroke-linecap='round' fill='none'/%3E%3Cline x1='73.8' y1='15.84' x2='76.55' y2='16.75' stroke='%23000094' stroke-width='1.5574' stroke-linecap='round' fill='none'/%3E%3Cline x1='66.75' y1='31.28' x2='69.24' y2='29.79' stroke='%23000094' stroke-width='1.5574' stroke-linecap='round' fill='none'/%3E%3Cline x1='66.75' y1='23.66' x2='69.6' y2='23.09' stroke='%23000094' stroke-width='1.5574' stroke-linecap='round' fill='none'/%3E%3Cline x1='73.8' y1='23.85' x2='76.55' y2='22.93' stroke='%23000094' stroke-width='1.5574' stroke-linecap='round' fill='none'/%3E%3Cline x1='81.26' y1='15.28' x2='83.31' y2='17.33' stroke='%23000094' stroke-width='3.1148' stroke-linecap='round' fill='none'/%3E%3Cline x1='90.38' y1='15.28' x2='88.32' y2='17.33' stroke='%23000094' stroke-width='3.1148' stroke-linecap='round' fill='none'/%3E%3Cline x1='81.26' y1='24.4' x2='83.31' y2='22.35' stroke='%23000094' stroke-width='3.1148' stroke-linecap='round' fill='none'/%3E%3Cline x1='90.38' y1='24.4' x2='88.32' y2='22.35' stroke='%23000094' stroke-width='3.1148' stroke-linecap='round' fill='none'/%3E%3C/g%3E%3C/svg%3E");
    width: 106px;
    height: 60px;
    background-repeat: no-repeat;
    float: right;
}

footer {
    font-size: x-small;
}
</style>
</head>

<body>

    <div class="logo"></div>
{% if name is defined %}    
    <h1 class="header">{{committee}} - {{name}} Mission Document</h1>
{% else %}
    <h1 class="header">{{committee}} Mission Document</h1>
{%- endif%}

<table width="100%">
    <tr><th colspan="2">Group Information</th></tr>
    <tr><td class="subheader">Group Name</td><td>{{name | default(committee)}}</td></tr>
    <tr><td class="subheader">Brief description</td><td>{{responsability}}</td></tr>

    <tr><th colspan="2">Inputs</th></tr>
    <tr><td colspan="2"><ul>{% for input in inputs | default(['undefined']) -%}
        <li>{{input}}</li>
    {% endfor -%}</ul></td></tr>
    
    <tr><th colspan="2">Outputs</th></tr>
    <tr><td colspan="2"><ul>{% for deliverable in deliverables | default(['undefined']) -%}
    <li>{{deliverable}}</li>
    {% endfor -%}</ul></td></tr>

    <tr><th colspan="2">Tasks</th></tr>
    <tr><td colspan="2"><ul>{% for task in tasks | default(['undefined']) -%}
    <li>{{task}}</li>
    {% endfor -%}</ul></td></tr>

    {% if out_of_scope is defined and out_of_scope is sequence -%}
    <tr><th colspan="2">Out of Scope</th></tr>
    <tr><td colspan="2"><ul>{% for offtopic in out_of_scope -%}
    <li>{{offtopic}}</li>
    {% endfor -%}</ul></td></tr>
    {%- endif %}

    <tr><th colspan="2">Skills required for the Mission fulfilment</th></tr>
    <tr><td colspan="2"><ul>{% for skill in skills | default(['undefined']) -%}
    <li>{{skill}}</li>
    {% endfor -%}</ul></td></tr>

    <tr><th colspan="2">Toolings</th></tr>
    <tr><td class="subheader">Mailing lists</td><td>
       <ul>{% for list in mailing_list | default([]) -%}
            <li><a href="mailto:{{ list }}">{{ list }}</a></li>
        {% endfor -%}</ul>
    </td></tr>
    <tr><td class="subheader">Git repositories</td><td>
        <ul>{% for repo in gitlab_repositories | default([]) -%}
            <li><a href="{{ repo }}">{{ repo }}</a></li>
        {% endfor -%}</ul>
    </td></tr>
    <tr><td class="subheader">DCP folders</td><td>
        <ul>{% for folder in dcp_folders | default([]) -%}
            <li><a href="{{ folder }}">{{ folder }}</a></li>
        {% endfor -%}</ul>
    </td></tr>
</table>

<footer>
    <p>Generated on {{ env('NOW') }} from {{ env('CI_COMMIT_SHORT_SHA') }}</p>
    <p>Source: https://gitlab.com/gaia-x/technical-committee/operational-handbook/-/tree/master/docs/mission_documents</p>
</footer>
</body>

</html> 
